<!DOCTYPE html>
<html>

<head>
	<title>Quite interesting stuff</title>
	<meta charset="utf-8">
	<!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
	<link rel="stylesheet" type="text/css" href="/media/static/css/base.css">
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Oswald&amp;v2'>
</head>

<body>
	<header>
		<section>
			<h1><a href="/">French Fry</a></h1>
			<h2>Down for maintenance. We will be back shortly.</h2>
		</section>
	</header>
</body>

</html>